~*
# Byte-compiled / optimized / DLL files
gui/__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python

# IDE
.idea

# Test log
test/ui/geckodriver.log
test/geckodriver.log
geckodriver.log