~*
# Byte-compiled / optimized / DLL files
gui/__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python

# IDE
.idea

## VisualStudioCode ###
# From https://stackoverflow.com/questions/51876769/should-you-commit-vscode-symbols-file-to-source-control
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Test log
test/ui/geckodriver.log
test/geckodriver.log
geckodriver.log

# Log file
logfile.log

# Typical names for virtualenvs.
/*venv
