alabaster==0.7.12
amqp==2.5.0
appdirs==1.4.3
asn1crypto==0.24.0
aspy.yaml==1.3.0
asteval==0.9.13
astroid==2.2.5
attrs==19.1.0
Babel==2.6.0
backcall==0.1.0
beautifulsoup4==4.7.1
billiard==3.6.0.0
black==19.3b0
bleach==3.1.0
boltons==19.1.0
bs4==0.0.1
celery==4.3.0
certifi==2018.11.29
cffi==1.11.5
cfgv==2.0.0
chardet==3.0.4
Click==7.0
click-log==0.3.2
-e git+https://github.com/JRCSTU/co2mpas.git@c33aceb282b3f9d9876491a6e718dc8b83bcf091#egg=co2mpas
-e git+https://github.com/vinci1it2000/DICE.git@70576d0de647d89a3fc6db2b07996211b34a8ae4#egg=co2mpas_dice&subdirectory=back-end
-e git+https://github.com/JRCSTU/co2wui.git@7e3f9e3370cbe0c9437e7413abad0e7f48ea71a0#egg=co2wui
colorama==0.4.1
comtypes==1.1.7
conda==4.5.12
contextlib2==0.5.5
contextvars==2.4
coverage==4.5.3
coveralls==1.7.0
cryptography==2.4.2
cycler==0.10.0
ddt==1.2.0
decorator==4.3.0
defusedxml==0.5.0
dill==0.2.9
dnspython==1.16.0
docopt==0.6.2
docutils==0.14
email-validator==1.0.4
entrypoints==0.3
et-xmlfile==1.0.1
eventlet==0.24.1
fastapi==0.29.0
Flask==1.0.2
Flask-API==1.1
Flask-Babel==0.12.2
Flask-SocketIO==3.3.2
formulas==0.3.0
future==0.17.1
gitchangelog==3.0.4
gitdb2==2.0.5
GitPython==2.1.11
graphviz==0.10.1
greenlet==0.4.15
gunicorn==19.9.0
identify==1.4.4
idna==2.8
imagesize==1.1.0
immutables==0.9
importlib-metadata==0.18
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4
jedi==0.13.2
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyterlab==0.35.6
jupyterlab-server==0.2.0
kiwisolver==1.0.1
kombu==4.6.1
lazy-object-proxy==1.4.1
lmfit==0.9.12
logutils==0.3.5
lxml==4.3.3
Mako==1.0.8
MarkupSafe==1.1.0
matplotlib==3.0.2
mccabe==0.6.1
menuinst==1.4.14
mistune==0.8.4
monotonic==1.5
mysql-connector-python==8.0.16
Naked==0.1.31
nbconvert==5.4.0
nbformat==4.4.0
networkx==2.2
nodeenv==1.3.3
nose==1.3.7
notebook==5.7.4
numpy==1.15.4
openpyxl==2.6.2
packaging==19.0
pandalone==0.2.4.post1
pandas==0.23.4
pandocfilters==1.4.2
parsedatetime==2.4
parso==0.3.1
pbr==5.1.3
pickleshare==0.7.5
Pillow==6.0.0
pipreqs==0.4.9
pkginfo==1.5.0.1
plotly==3.5.0
polyversion==0.2.2a1
pre-commit==1.17.0
prometheus-client==0.5.0
prompt-toolkit==2.0.7
protobuf==3.8.0
pycosat==0.6.3
pycparser==2.19
pydantic==0.26
Pygments==2.3.1
pylint==2.3.1
pylint-flask==0.6
pylint-plugin-utils==0.5
pyOpenSSL==18.0.0
pyparsing==2.3.0
PySocks==1.6.8
python-dateutil==2.7.5
python-engineio==3.5.1
python-gnupg==0.4.4
python-socketio==3.1.2
pytz==2018.9
pywin32==224
pywinpty==0.5.5
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.4.3
readme-renderer==24.0
redis==3.2.1
regex==2019.3.12
requests==2.21.0
requests-toolbelt==0.9.1
retrying==1.3.3
ruamel-yaml==0.15.46
ruamel.yaml==0.15.97
schedula==0.3.2
schema==0.7.0
scikit-learn==0.20.3
scipy==1.2.1
selenium==3.141.0
Send2Trash==1.5.0
six==1.12.0
smmap2==2.0.5
snowballstemmer==1.2.1
soupsieve==1.9
Sphinx==2.0.0
sphinx-click==2.0.1
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-restbuilder==0.2
sphinxcontrib-serializinghtml==1.1.1
starlette==0.12.0
-e git+https://github.com/vinci1it2000/syncing.git@d59477d3f486a89f3182df0e6f2ce0ca7cbfbbe1#egg=syncing
tabulate==0.8.3
terminado==0.8.1
testpath==0.4.2
toml==0.10.0
toolz==0.9.0
tornado==5.1.1
tqdm==4.31.1
traitlets==4.3.2
transitions==0.6.9
twine==1.13.0
typed-ast==1.4.0
uncertainties==3.0.3
undecorated==0.3.0
Unidecode==1.0.23
urllib3==1.24.1
validate-email==1.3
vine==1.3.0
virtualenv==16.6.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.1
widgetsnbextension==3.4.2
win-inet-pton==1.0.1
wincertstore==0.2
wltp==0.1.0a3
wrapt==1.11.2
xgboost==0.82
xlrd==1.2.0
XlsxWriter==1.1.8
xlwings==0.15.5
yarg==0.1.9
zipp==0.5.1
