/* Co2mpas help system */
.co2-help {
	color: rgb(60, 141, 188);
	font-size: 0.7em;
}

label .co2-help {
	font-size: 0.9em;
}

.logo-lg img {
	width: 85%;
	padding-top: 5px;
}

h2 {
	color: rgb(60, 141, 188);
}

.logo-lg {
	width: 150px;
}

.color-ok {
	color: green;
}

.color-ko {
	color: red;
}

table.summary th {
	text-align: center;
}