
		 
					<div class="row">				

						<section class="col-lg-6 connectedSortable">
							<div class="col-lg-11">
									<div>
										<h2>{{ _("Report a bug") }}</h2>
									</div>
									
							<p>{{ data.texts["contact"]["intro"] | safe }}</p>
								<ul style="list-style-type:none;">
									<a href="mailto:jrc-co2mpas@ec.europa.eu"><li><i class="fa fa-envelope" aria-hidden="true"></i> By Email</li></a>
									<a href="#"><li><i class="fa fa-twitter" aria-hidden="true"></i> Via Twitter</li></a>
									<a href="#"><li><i class="fa fa-phone-square" aria-hidden="true"></i> By Phone</li></a>
								</ul>
								
									
							</div>
						</section>

						
					</div>

					