
		 
					<div class="row">				

						<section class="col-lg-6 connectedSortable">
							<div class="col-lg-11">
									<div>
										<h2>{{ _("Contact us") }}</h2>
									</div>
									
							<p>{{ data.texts["contact"]["intro"] | safe }}</p>
								<ul style="list-style-type:none;">
									<a href="mailto:jrc-co2mpas@ec.europa.eu"><li><i class="fa fa-envelope" aria-hidden="true"></i> By Email</li></a>
									<a href="https://github.com/JRCSTU/co2mpas-ta/" target=_blank><li><i class="fa fa-github" aria-hidden="true"></i> Report a bug on Github</li></a>									
								</ul>
								
									
							</div>
						</section>

						
					</div>

					