				<!-- Single col -->
        <section class="col-lg-6 connectedSortable">          
					<div class="col-md-12 quarter">
						<div>
							<h2>{{ _("Welcome to Co<sub>2</sub>mpas") }}</h2>
						</div>
						<p>{{ data.texts["home"]["welcome"] | safe }}</p> 						
						<img src="/static/images/co2mpas-banner.svg" class="co2mpas-logo-big"></img>
					</div>
					
					<div class="col-md-12 quarter">
						<h2>{{ _("News & updates") }}</h2>
						<p>22/05/2019 - Lorem Ipsum is simply dummy text of the printing and typesetting industry.
						Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a 
						galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also 
						the leap into electronic typesetting, remaining essentially unchanged.</p>
						<p>21/05/2019 - Lorem Ipsum is simply dummy text of the printing and typesetting industry.
						Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a 
						galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also 
						the leap into electronic typesetting, remaining essentially unchanged.</p>
					</div>
        </section>
        <!-- /.Single col -->
				
				<!-- Single col -->
        <section class="col-lg-6 connectedSortable"> 
				
					<div class="col-md-12 quarter">
						<div>
							<h2>{{ _("Run Co<sub>2</sub>mpas") }}</h2>
						</div>
						<i class="fa fa-car fa-4x pull-left"></i>
						<div class="text-left">            
							<a id="run-button" href="/run/simulation-form" class="btn btn-lg btn-success" style="margin-top: 5px;"><i class="fa fa-car fa-lg"></i> Run simulation</a>								
						</div>
						<br style="clear: both;">

						<p>{{ data.texts["run"]["run co2mpas"] | safe }}</p>
								<a href="/run/download-template">Haven't done it yet? <i class="fa fa-download fa-download"></i> Download Co<sub>2</sub>mpas input template?</a>
						</p>					 
					</div>

					<div class="col-md-12 quarter">
						<div>
							<h2>{{ _("Synchronize data") }}</h2>
						</div>
						<i class="fa fa-refresh fa-4x pull-left"></i>
						<div class="text-left">            
								<form action="/sync/synchronisation-form">
										<button id="synchronize-button" ref="synchronize-choose-data.html" class="btn btn-lg btn-warning" style="margin-top: 5px;"><i class="fa fa-refresh" aria-hidden="true"></i> Synchronize data</button>	
								</form>          
						</div>
						<br style="clear: both;">
						<p>{{ data.texts["sync"]["synchronise data"] | safe }}</p>

					</div>
					
        </section>
        <!-- /.Single col -->       
		