				<!-- Single col -->
        <section class="col-lg-6 connectedSortable">          
					<div class="col-md-12 quarter">
						<div title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua">
							<h2>Welcome to Co<sub>2</sub>mpas  <i class="fa fa-question-circle co2-help"></i></h2>
						</div>
						<p>CO2MPAS is backward-looking longitudinal-dynamics CO2 and fuel-consumption simulator for light-duty M1 & N1 vehicles (cars and vans), specially crafted to estimate the CO2 emissions of vehicles undergoing NEDC testing based on the emissions produced WLTP testing during type-approval, according to the EU legislations 1152/EUR/2017 and 1153/EUR/2017 (see History section, below).</p>
						<p>It is an open-source project(EUPL 1.1+) developed for Python-3.6+ using WinPython & Anaconda under Windows 7, Anaconda under MacOS, and standard python environment & Anaconda under Linux. It runs either as a console command or as a desktop GUI application, and it uses Excel-files or pure python structures (dictionary and lists) for its input & output data.</p>
						<img src="/static/images/co2mpas-banner.svg" class="img-responsive" style="max-width: 600px;"></img>
					</div>
					
					<div class="col-md-12 quarter">
						<h2>News & updates</h2>
						<p>22/05/2019 - Lorem Ipsum is simply dummy text of the printing and typesetting industry.
						Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a 
						galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also 
						the leap into electronic typesetting, remaining essentially unchanged.</p>
						<p>21/05/2019 - Lorem Ipsum is simply dummy text of the printing and typesetting industry.
						Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a 
						galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also 
						the leap into electronic typesetting, remaining essentially unchanged.</p>
					</div>
        </section>
        <!-- /.Single col -->
				
				<!-- Single col -->
        <section class="col-lg-6 connectedSortable"> 
				
					<div class="col-md-12 quarter">
						<div title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua">
							<h2>Run co<sub>2</sub>mpas  <i class="fa fa-question-circle co2-help"></i></h2>
						</div>
						<i class="fa fa-car fa-5x pull-left"></i>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
						Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a 
						galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also 
						the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the 
						release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software 
						like Aldus PageMaker including versions of Lorem Ipsum.</p>
													
						<div class="text-left">            
							<a href="/run/simulation-form" class="btn btn-lg btn-success"><i class="fa fa-car fa-lg"></i> Run simulation</a>								
						</div>
						<br style = “line-height:100;”>
						<p>
								<a href="/run/download-template">Haven't done it yet? <i class="fa fa-download fa-download"></i> Download Co<sub>2</sub>mpas input template?</a>
						</p>					 
					</div>
					
					<div class="col-md-12 quarter">
						<div title="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua">
							<h2>Synchronize data  <i class="fa fa-question-circle co2-help"></i></h2>
						</div>
						<i class="fa fa-refresh fa-5x pull-left"></i>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
						Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a 
						galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also 
						the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the 
						release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software 
						like Aldus PageMaker including versions of Lorem Ipsum.</p>
						
						<div class="text-left">            
								<form action="synchronize-choose-data.html">
										<button href="synchronize-choose-data.html" class="btn btn-lg btn-warning"><i class="fa fa-refresh" aria-hidden="true"></i> Synchronize data</button>	
								</form>          
						</div>							
					</div>
					
        </section>
        <!-- /.Single col -->       
		