<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Co2mpas | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  
  {% include "styles.html" -%}
  
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  {% include "topbar.html" -%}
  
  {% include "sidebar.html" -%}

	<span id="content-outer">
  
		{% include "content.html" -%}
		
	</span>
  
  {% include "footer.html" -%}
  
</div>
<!-- ./wrapper -->

{% include "scripts.html" -%}

</body>
</html>
