		<div class="modal fade" id="modal-default">
			<div class="modal-dialog">
				<div class="modal-content">
				
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">{{ data.breadcrumb[-1] }}</h4>
					</div>
					<!-- /.modal-header -->
					
					<div id="modal-content" class="modal-body">						
					</div>
					<!-- /.modal-content -->
					
					<div class="modal-footer">
						<button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
					</div>
					<!-- /.modal-footer -->
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->	