<div class="row">	
			
	<section class="col-lg-12 connectedSortable" style="text-align: center;">
		
		<div class="small-box bg-aqua">
			<div class="inner">
				<h3><i class="fa fa-spin fa-refresh"></i></h3>
				<p style="text-align: center;">Simulation in progress</p>
				{% if data.header.type_approval_mode %}<span id="ta-label" class="badge badge-warning"><i class="fa fa-warning"></i> TYPE APPROVAL MODE</span>{% endif %}
			</div>
			<div class="icon">
				<i class="ion ion-stats-bars"></i>
			</div>
			<a href="#" class="small-box-footer">
				Please wait for the process to complete
			</a>
		</div>
	</section>
	
	{% include "simulation_header.html" -%}

	<section class="col-lg-12">
		<div class="form-group">
			<label>Simulation log</label>
			<textarea class="form-control" rows="15" placeholder="{{ _('Waiting for data...') }}">{{data.log}}</textarea>
		</div>
	</section>
	
</div>

<script>
setTimeout(function(){
	$('#main-content').load('/run/progress?layout=ajax&id=' + {{data.thread_id}});
}, 5000);
</script>