<div class="row">	
			
	<section class="col-lg-12 connectedSortable" style="text-align: center;">
		{% if data.result == 'OK' %}
		<div class="small-box bg-green">
			<div class="inner">
				<h3><i class="fa fa-check"></i></h3>
				<p>Simulation complete</p>
			</div>
			<div class="icon">
				<i class="ion ion-stats-bars"></i>
			</div>
			<a href="#" class="small-box-footer">
				Please check the list of result files below
			</a>			
		</div>
		{% else %}
		<div class="small-box bg-red">
			<div class="inner">
				<h3><i class="fa fa-check"></i></h3>
				<p>Simulation terminated with some errors</p>
			</div>
			<div class="icon">
				<i class="ion ion-stats-bars"></i>
			</div>
			<a href="#" class="small-box-footer">
				Please check the logs for further information
			</a>			
		</div>
		{% endif %}
	</section>
	
	{% include "simulation_header.html" -%}
		
	{% if not data.result == 'KO' %}
	<section class="col-lg-12">
		
		<div id="sync-result" class="box-body">
		
			<h3>Simulation results</h3>
			<div class="box-header">
				<p><strong>X</strong> {{ _("file(s) has/have been processed") }}</p>
				
				<div class="box-body">
					<table class="table table-bordered">
						<tr>
							<th style="width: 10px">#</th>
							<th style="width: 40px">{{ _("Run") }}</th>
							<th style="width: 40px">{{ _("Result") }}</th>
							<th style="width: 40px">{{ _("Summary") }}</th>
							<th style="width: 40px">{{ _("Log") }}</th>
							<th style="width: 40px">{{ _("Link") }}</th>							
						</tr>
						{% for result in data.results %}
						<tr>
							<td>{{loop.index}}.</td>
							<td>{{result.name}}</td>
							<td class="text-success">Ok</td>
							<td class="text-success"><a href="#" onclick="load_summary('{{result.name}}'); return false;"><i class="fa fa-eye"></i> {{ _("View") }} </a></td>
							<td><a href="/run/download-log/{{result.name}}"><i class="fa fa-newspaper-o"></i> </a></td>
							<td style="list-style-type:none;">
									{% for file in result.files %}
									<li><a href="/run/download-result/{{result.name}}/{{loop.index}}">{{file}}</a></li>									
									{% endfor %}
							</td>							
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>								
		</div>
		
		{% include "summary.html" -%}
	</section>
	{% endif %}
	
	<section class="col-lg-12">
		<div class="form-group">
			<label>Co2mpas log</label>
			<textarea class="form-control" rows="15" placeholder="{{ _('Waiting for data...') }}">{{data.log}}</textarea>
		</div>
	</section>
	
</div>