  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
	
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="treeview active">
          <a href="#">
            <i class="fa fa-bolt"></i> <span>{{ _("Run co<sub>2</sub>mpas") }}</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-down pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/run/download-template-form"><i class="fa fa-download"></i> {{ _("Download input template") }}</a></li>
            <li><a href="/run/simulation-form"><i class="fa fa-car"></i> {{ _("Run simulation") }}</a></li>
            <li><a href="/run/view-results"><i class="fa fa-bars"></i> {{ _("View results") }}</a></li>
						<li><a href="/demo/download"><i class="fa fa-download"></i> {{ _("Demo file") }}</a></li>
          </ul>
        </li>
        <li class="treeview active">
					<a href="#">
            <i class="fa fa-random"></i> <span>Synchronize data</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-down pull-right"></i>
            </span>
          </a>
					<ul class="treeview-menu">
            <li><a href="/sync/template-form"><i class="fa fa-download"></i> {{ _("Download datasync template") }}</a></li>
            <li><a href="/sync/synchronisation-form"><i class="fa fa-refresh"></i> {{ _("Synchronize data") }}</a></li>            
          </ul>              
        </li>
        <li class="treeview {{data.props.active.expert}}">
          <a href="#">
            <i class="fa fa-flask"></i> <span>{{ _("Expert functionalities") }}</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-down pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#" onclick="launch_plot(); return false;"><i class="fa fa-download"></i> {{ _("Show model graph") }}</a></li>
            <li><a href="/conf/configuration-form"><i class="fa fa-upload"></i> {{ _("Co2mpas configuration") }}</a></li>
						<li><a href="/keys/keys-form"><i class="fa fa-key"></i> {{ _("Load keys") }}</a></li>
          </ul>
        </li>
        <li class="treeview active">
          <a href="#">
            <i class="fa fa-bookmark"></i> <span>{{ _("Support & docs") }}</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-down pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/not-implemented"><i class="fa fa-play"></i> {{ _("Tutorials") }}</a></li>
            <li><a href="/not-implemented"><i class="fa fa-book"></i> {{ _("Documentation") }}</a></li>
            <li><a href="/contact-us"><i class="fa fa-question-circle"></i> {{ _("Contact us") }}</a></li>
          </ul>
        </li>
      
      </ul>
    </section>
    <!-- /.sidebar -->
		
  </aside>