	<section class="col-lg-12">
		<div class="box-body">
			<h3>Simulation parameters</h3>
			<table class="table table-bordered">
				<tr>
          <th>{{ _("Run Id") }}</th>
          <th>{{ _("Type approval mode") }}</th>
          <th>{{ _("Hard validation") }}</th>
					<th>{{ _("Declaration mode") }}</th>
					<th>{{ _("Enable selector") }}</th>
					<th>{{ _("Only summary") }}</th>
				</tr>
				<tr>
					<td>{{ data.process_id }}</td>
          <td>{{ data.header.type_approval_mode }}</td>
          <td>{{ data.header.hard_validation }}</td>
					<td>{{ data.header.declaration_mode }}</td>
					<td>{{ data.header.enable_selector }}</td>
					<td>{{ data.header.only_summary }}</td>
				</tr>
			</table>
		</div>
	</section>