	
								<!-- /.box-header -->
								<div class="box-body">
									<div class="box-body">               	

										<div class="box-header with-border">
											<h3 class="box-title">{{ _("Execution summary") }}:</h3>
										</div>
										<!-- /.box-header -->
										<div class="box-body">
											<table class="table table-bordered table-striped">
												<tbody><tr>													
													<th>{{ _("Cycle") }}</th>		
													<th>{{ _("Phase") }}</th>
													<th>{{ _("Type") }}</th>
													<th>{{ _("Type") }}</th>													
													<th>{{ _("Value") }}</th>
												</tr>
												{% for key in data.summary.keys() %}		
													{% if loop.index > 2 %}
												<tr>													
													<td>{{key[0]}}</td>
													<td>{{key[1]}}</td>
													<td>{{key[2]}}</td>
													<td>{{key[3]}}</td>
													<td>
															{{data.summary[key]}}
													</td>
												</tr>
													{% endif %}
												{% endfor %}
											</tbody></table>
										</div>
										<!-- /.box-body -->
										
									</div>									
								</div>