
		<!-- Main row -->
		<div class="row">
			
			<!-- Single col -->
			<section class="col-lg-8 connectedSortable">
				<div title="Synchronization should be performed if time-series signals are time-shifted and/or with different sampling rates. To synchronise and re-sample time series, syncing is used.">
					<h1>{{ data.breadcrumb[-1] }}</h1>
					<h2>Download a Co<sub>2</sub>mpas datasync template <i class="fa fa-question-circle co2-help"></i></h2>
				</div>
				
				<p>Synchronization should be performed if time-series signals are time-shifted and/or with different sampling rates.</p>                    
			</section>
			
		</div>
      	
		<div class="row">
			 <section class="col-lg-8 connectedSortable">
			 
			 
					<!-- Horizontal Form -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Download datasync template</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" action="/sync/template-download">
              <div class="box-body">
								<div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">Select cycle:</label>
                  <div class="col-sm-10">
                   <select class="form-control" onchange="toggle_wltp_class(this);" name="cycle" id="cycle">
											<option value="wltp">WLTP</option>
											<option value="nedc">NEDC</option>															
										</select>				
                  </div>
                </div>
								<div class="form-group" id="wltpclass-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">Select wltp class:</label>
                  <div class="col-sm-10">
                   <select class="form-control" name="wltpclass" id="wltpclass">
											<option value="class1">Class 1</option>
											<option value="class2">Class 2</option>															
											<option value="class3a">Class 3a</option>															
											<option selected value="class3b">Class 3b</option>															
										</select>				
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">Select gear box type:</label>
                  <div class="col-sm-10">
                   <select class="form-control" name="gearbox" id="gearbox">
											<option value="automatic">Automatic</option>
											<option value="manual">Manual</option>															
										</select>				
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">               
                <button id="download-button" type="submit" class="btn btn-info pull-right"><i class="fa fa-download"></i>  Download</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
			
				</section>						
     </div>