<script>
    function handle_file_name() {
        field = document.getElementById('file-input');        
        if (field.value != '') {
            document.getElementById('submit-button').style.display = 'inline-block';
            document.getElementById('reset-button').style.display = 'inline-block';
        } else {
            document.getElementById('submit-button').style.display = 'none';
            document.getElementById('reset-button').style.display = 'none';
        }
    }
</script>
		<!-- Single col -->
        <section class="col-lg-8 connectedSortable">          
		  <h2>Upload configuration file</h2>
		  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
		  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
		  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		  <form action="/configuration/upload" enctype="multipart/form-data" method="POST">
		    <label>Click browse to choose an input file</label>
			<input name="file" type="file" id="file-input" onchange="handle_file_name();">
            <br>
            <input id="submit-button" type="submit" style="display: none;" class="btn btn-primary" value="Upload file">
            <input id="reset-button" type="reset" style="display: none;" class="btn btn-default" onclick="document.getElementById('file-input').value = ''; handle_file_name(); return false;" value="Reset form">
		  </form>
		  
        </section>
        <!-- /.Single col -->     
        